[submodule "Raidriarch/vendor/spdlog"]
	path = Hazel/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Raidriarch/vendor/GLFW"]
	path = Raidriarch/vendor/GLFW
	url = https://github.com/TheCherno/glfw
[submodule "Raidriarch/vendor/imgui"]
	path = Raidriarch/vendor/imgui
	url = https://github.com/TheCherno/imgui.git
